@charset "utf-8";

/* ------------------------------------------------------------------- */
/* 共通ブロック */
/* ------------------------------------------------------------------- */
/* 全タブに対して適用 */
* {
  box-sizing: border-box;
  font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN,
    "メイリオ", Meiryo, sans-serif;
}

/* サイト内要素最大幅 */
.wrap {
  max-width: 1200px;
  margin: auto;
}

/* サイト内の画像をフルードイメージにする */
img {
  max-width: 100%;
  height: auto;
}

.tx__center {
  text-align: center;
}

/* aタグリンクの下線等外し */
a {
  text-decoration: none;
}
a:hover {
  color: darkcyan;
}

/* ------------------------------------------------------------------- */
/* header */
/* ------------------------------------------------------------------- */
header {
  position: fixed;
  width: 95%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 5px;
  max-width: 1200px;
  background-color: gold;
}

/* サイトタイトル */
.header__title {
  font-size: 3.3vw;
  margin: 25px auto 5px;
}

/* サイトサブタイトル */
.header__subTitle {
  font-size: 1.25vw;
  margin-bottom: 25px;
}

/* ナビブロック */
.header__nav {
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  font-size: 1vw;
  font-weight: bold;
}

/* ナビタイトル１つずつ */
.header__nav-list {
  width: 120px;
  margin: 10px auto 0px;
  padding: 10px;
  background-color: whitesmoke;
}

#review {
  background-color: gold;
}

/* ------------------------------------------------------------------- */
/* main & sidebar */
/* ------------------------------------------------------------------- */
.body__wrapper {
  display: flex;
}

/* ------------------------------------------------------------------- */
/* main */
/* ------------------------------------------------------------------- */
.main {
  margin-top: 200px;
  flex: 1;
}

/* ------------------------------------------------------------------- */
/* content */
/* ------------------------------------------------------------------- */
.content {
  overflow-wrap: break-word;
  padding-bottom: 50px;
}

.content__sequence {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__block {
  width: 250px;
  text-align: center;
  margin: 0 20px 40px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* 画像は固定サイズ */
.content__block-image {
  text-align: center;
  width: 150px;
  height: 210px;
  margin-bottom: 20px;
}

.content__block-title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.content__block-review {
  text-align: left;
  white-space: pre-wrap;
  font-size: 14px;
}

/* ------------------------------------------------------------------- */
/* sidebar */
/* ------------------------------------------------------------------- */
.sidebar {
  flex: 0 1 250px;
  margin-top: 200px;
  margin-right: 2.5%;
  margin-bottom: 0;
}

.sidebar__sort {
  position: sticky;
  top: 200px;
  display: grid;
  height: 25px;
}

.sidebar__list {
  position: sticky;
  width: 250px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  top: 240px;
}

.sidebar__list-index {
  padding-bottom: 5px;
  color: #355073;
  display: block;
  line-height: 1.5;
  font-size: 11px;
}

.sidebar__list-index:hover {
  background-color: #e6f2ff;
}

.sidebar__list-index.current {
  background-color: #e6f2ff !important;
}

/* ------------------------------------------------------------------- */
/* footer */
/* ------------------------------------------------------------------- */
.footer {
  margin: 20px auto 0;
  padding: 10px 0;
  background-color: #f7f6f6;
  width: 95%;
}
small {
  font-size: 0.8vw;
}
