@charset "utf-8";

/* ------------------------------------------------------------------- */
/* 共通ブロック */
/* ------------------------------------------------------------------- */
/* 全タブに対して適用 */
* {
  box-sizing: border-box;
  font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN,
    "メイリオ", Meiryo, sans-serif;
}

/* サイト内要素最大幅 */
.wrap {
  max-width: 1200px;
  margin: auto;
}

/* サイト内の画像をフルードイメージにする */
img {
  max-width: 100%;
  height: auto;
}

.tx__center {
  text-align: center;
}

/* aタグリンクの下線等外し */
a {
  text-decoration: none;
}

/* ------------------------------------------------------------------- */
/* header */
/* ------------------------------------------------------------------- */
header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1200px;
}

/* サイトタイトル */
.header__title {
  font-size: 4.5vw;
  margin: 25px auto 5px;
}

/* サイトサブタイトル */
.header__subTitle {
  font-size: 1.5vw;
  margin-bottom: 25px;
}

/* ------------------------------------------------------------------- */
/* main */
/* ------------------------------------------------------------------- */
.main {
  margin-top: 150px;
}

/* ------------------------------------------------------------------- */
/* content */
/* ------------------------------------------------------------------- */
.contents__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75vw;
  font-weight: bold;
  height: 75vh;
}

.contents__list {
  width: 150px;
  margin: 0 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.contents__wrapper img {
  /* transition: 1s; */
  height: 210px;
}

.contents__wrapper a {
  width: 145px;
  border-radius: 10px;
  background-color: gold;
  display: inline-block;
  margin-top: 10px;
  padding: 15px;
}

a:hover {
  color: darkcyan;
}

.comingSoon {
  width: 150px;
  height: 261px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: #fff;
  padding: 30px;
}

p {
  transform: translateY(900%);
}
.comingSoon:hover {
  opacity: 1;
  transition: all 0.6s ease;
  padding-bottom: 0;
}

/* ------------------------------------------------------------------- */
/* footer */
/* ------------------------------------------------------------------- */
.footer {
  width: 95%;
  margin: 20px auto 0;
  padding: 10px 0;
  /* background-color: #f7f6f6; */
  width: 95%;
}

small {
  font-size: 0.8vw;
}
